@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import "slick.css";
@import "aos.css";
::-webkit-scrollbar {width:5px;}
::-webkit-scrollbar-track { background-color: #fff; border-left: 1px solid #fff;}
::-webkit-scrollbar-thumb { background-color: #2196f3;}
::-webkit-scrollbar-thumb:hover {background-color: #e0e0e0;}
*{margin:0; padding: 0; box-sizing: border-box; -webkit-tap-highlight-color: transparent; /* for remove highlight */ }
a{text-decoration:none;}
:focus{outline: 0;}

.clr{clear:both; display:block;}
.fl{float:left;}
.fr{float:right;}
img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.container{width: 1360px; margin:0 auto; padding-left: 15px; padding-right: 15px;}
.container2{width: 1560px; margin:0 auto; padding-left: 15px; padding-right: 15px;}
.row{margin-right: -15px; margin-left: -15px;}
.row .col{padding-left:15px; padding-right: 15px;}
.row .col-33{padding-left:15px; padding-right: 15px; width: 33.3%;}
.row .col-50{padding-left:15px; padding-right: 15px; width: 50%;}
.row .col-25{padding-left:15px; padding-right: 15px; width: 25%;}
.row .col-45{padding-left:15px; padding-right: 15px; width: 45%;}
.row .col-55{padding-left:15px; padding-right: 15px; width: 55%;}
.row .col-48{padding-left:15px; padding-right: 15px; width: 48%;}

input{width: 100%; height: 56px; background: #f2f4f7; border:0; padding:0 20px; color: #7990ab; font-weight: 600; font-size: 16px;}

textarea{width: 100%; height: 150px; background: #f2f4f7; border:0; padding:20px; color: #7990ab; font-weight: 600; font-size: 16px; font-family: 'Poppins', sans-serif;}
.error{color: red; line-height: 40px;}

::-webkit-input-placeholder { /* Edge */
  color: #7990ab;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7990ab;
}

::placeholder {
  color: #7990ab;
}
button{width: 100%; height: 56px; text-transform: uppercase; background: #2196f3; color: #fff; font-weight: 600; font-size: 16px; border: 0;
  -webkit-box-shadow: 0 8px 6px -6px #666666;
  -moz-box-shadow: 0 8px 6px -6px #666666;
       box-shadow: 0 8px 6px -6px #666;}

body{font-family: 'Poppins', sans-serif; font-size: 18px; color: #1A1A1A; font-weight:400; position: relative; right: 0; width: 100%;-webkit-transition: right 0.5s;
  transition: right 0.5s; overflow-x: hidden;}
body.shift{position: fixed; right:280px;}
header{  position: fixed; z-index: 99999; top: 0; width: 100%; padding:0 185px;}
header .in-header{background: #1a1a1a; height:96px; position: relative; padding:0 30px;}
header .in-header:before{
  width: 0;
  height: 0;
  border-top: 96px solid transparent;
  border-right:45px solid #1a1a1a;
  content: "";
  position: absolute;
  left: -45px; top:0;

}
header .in-header:after{
  width: 0;
  height: 0;
  border-bottom: 96px solid transparent;
  border-left:45px solid #1a1a1a;
  content: "";
  position: absolute;
  right: -45px; top:0;

}
header .logo{padding:22px 0 0 0;}




.navicon{display: none;}
nav{padding-top: 25px;}
nav li{float: left; list-style: none; margin-right: 75px;}
nav li:last-child{margin-right: 0}
nav li a{ font-size: 16px; font-weight: 500; color: #fff; display: inline-block; line-height: 40px;}
nav li.haschild{position: relative;}
nav li.haschild a{padding-left: 30px; background: url(../images/Group1285.png) center left no-repeat;}
nav li.haschild ul{width: 310px; background: #1a1a1a; position: absolute; top: 31px; left:-20px; padding:40px 0 20px 20px; visibility: hidden; opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
nav li.haschild ul li{float: none;}
nav li.haschild ul li a{background: url(../images/Group1287.png) center left no-repeat; line-height: 50px;}
nav li.haschild:hover ul{visibility: visible; opacity: 1;}




.data p{color: #757575;}
.data a{color: #2196f3;}
.data p.bold{font-weight: 600; color: #000;}

.homebanner{background: url(../images/Banner_img.png) no-repeat; padding: 168px 60px 72px;}
.homebanner .outerblock{width: 840px; position: relative;}
.homebanner .outerblock:before{
  width: 0;
  height: 0;
  border-bottom: 360px solid transparent;
  border-right:360px solid #2196f3;
  content: "";
  position: absolute;
  top: -20px; right:-20px;

}
.homebanner .outerblock2{ position: relative;}
.homebanner .outerblock2:before{
  width: 0;
  height: 0;
  border-top: 360px solid transparent;
  border-left:360px solid #2196f3;
  content: "";
  position: absolute;
  bottom: -20px; left:-20px;
}
.homebanner .block{background: #fff;  padding:100px 104px; position: relative;}
.homebanner .block:before{
  width:320px;
  height:100%;
  content: ""; position: absolute; top: 0; right:0;
background: url(../images/block-slope.png) no-repeat; background-size: 100% 100%; }
.homebanner .heading{font-size: 82px; font-weight: 500; color: #002c5f; line-height: 90px; position: relative; padding-top: 40px; margin-bottom: 40px; z-index: 1;}
.homebanner .heading:before{width: 120px; height: 4px; content: ""; background: url(../images/heading-top.jpg) no-repeat; position: absolute; top: 0; left: 0;}
.homebanner .heading span{color: #2196f3; display: block; }
.homebanner .data{position: relative; z-index: 1;}
.homebanner .findmore{padding-top: 50px; position: relative; z-index: 1;}
.homebanner .findmore a{line-height: 36px; display: inline-block; color: #2196f3; font-size: 20px; background: url(../images/Path172.png) center right no-repeat; padding-right: 30px;}



.slide-trusted-by-section{text-align: center;padding: 0 60px; position: relative;}
.slide-trusted-by-section .heading{
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  padding:40px 0 0 0;
}
.slide-trusted-by{padding: 40px 0}
.slide-trusted-by-section img{display: inline-block;}
.slide-trusted-by-section .slick-arrow{width: 60px; height: 60px; border:0; font-size: 0;
position: absolute; left: -60px; top: 50%; margin-top: -30px; background: url(../images/slickarrow.png) no-repeat; background-position: 0 -60px;
-webkit-box-shadow: 0 0 0 #dedede;
  box-shadow: 0 0 0 #dedede;}
.slide-trusted-by-section .slick-arrow.slick-next{left: auto; right: -60px;background-position:-60px 0;}
.slide-trusted-by-section .slick-arrow.slick-disabled{background-position:0 0;}
.slick-arrow.slick-next.slick-disabled{background-position:-60px -60px;}



.strength{text-align: center; padding: 50px 0;}
.strength .heading{font-size: 56px; font-weight: 500; margin-bottom: 20px;}
.strength .data{margin-bottom: 70px;}
.strength .shadow-verlay img{width: 100%; height: auto;}
.strength .shadow-verlay{
  position: relative;
  padding-bottom: 50px;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
.strength .shadow-verlay:hover{
  -webkit-box-shadow: 0 0 20px #dedede;
        box-shadow: 0 0 20px #dedede;
}
.strength .shadow-verlay div{font-size: 30px; color: #4c719e; position: absolute; padding-top: 30px; left: 0; bottom:30px; width: 100%;}
.strength .shadow-verlay div:before{
  width: 36px;
  height: 4px;
  background: #2196f3;
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -18px;
  top: 0;
}
.strength .shadow-verlay div span{color: #2196f3;}
.strength .viewall{padding-top: 70px;}
.strength .viewall a{display: inline-block; line-height: 40px; font-size: 24px;  color: #2196f3; font-weight: 600; background: url(../images/Path172.png) center right no-repeat; padding-right: 35px;}



.pcsection{ background: #f9fcff; padding:70px 0;}
.pcsection .outerimage{position: relative;}
.pcsection .outerimage2{position: relative; line-height: 0}
.pcsection .outerimage img{width: 100%; height: auto; position: relative; z-index: 1;}
.pcsection .outerimage:before{
  width: 0;
  height: 0;
  border-bottom: 120px solid transparent;
  border-left:120px solid #f8cd5a;
  content: "";
  position: absolute;
  top: -15px; left:-15px;

}
.pcsection .outerimage2:before{
  width: 0;
  height: 0;
  border-top: 120px solid transparent;
  border-right:120px solid #f8cd5a;
  content: "";
  position: absolute;
  bottom: -15px; right:-15px;
}
.pcsection .heading{font-size: 55px; font-weight: 300; padding:110px 0 0 30px;}
.pcsection .heading span{font-weight:500;color: #2196f3; display: block;}




.shuff{background: #f9fcff; padding:70px 0;}
.shuff .heading{font-size: 48px; text-align: center; margin-bottom: 100px;}
.shuff .prbox{
  -webkit-box-shadow: 0 0 20px #dedede;
  box-shadow: 0 0 20px #dedede;
  background: #fff;
  position: relative;
  border-radius: 5px;
  margin-bottom: 95px;
}
.shuff .prbox.posright{top:120px;}
.shuff .prbox .hidden{overflow: hidden; position: relative; padding:50px 100px 50px 100px;}
.shuff .prbox .c1{
  width: 30px;
  height: 30px;
  background: #fff;
  position: absolute;
  top: -40px;
  left: -40px;
  border-radius: 50%;
  opacity: .2;
  -webkit-transition: top 0.5s, left 0.5s;
  transition: top 0.5s, left 0.5s;
}
.shuff .prbox .c2{
  width: 140px;
  height: 140px;
  background: #fff;
  position: absolute;
  right: -210px;
  bottom: -160px;
  border-radius: 50%;
  opacity: .2;
  -webkit-transition: right 0.5s, bottom 0.5s;
  transition: right 0.5s, bottom 0.5s;
}
.shuff .prbox .number{width: 70px; height: 70px;
background: #d9e4ee; border-radius: 50%; text-align: center; color: #fff; font-size: 30px;
line-height: 70px; font-weight: 500; position: absolute; top: -35px; right: 0;}
.shuff .prbox .number.left{right: auto; left: 0}
.shuff .prbox .icon{width: 120px; height: 120px; background: #000; border-radius:20px;position: absolute; top: 40px; left:-60px;}
.shuff .prbox .icon.right{left: auto; right: -60px;}

.shuff .prbox.nationwide-sourcing .icon{background:url(../images/Nationwide_Sourcing_icon.png) center no-repeat #ffc107;}
.shuff .prbox.pom .icon{background:url(../images/Group1223.png) center no-repeat #e91e63;}
.shuff .prbox.logistics .icon{background:url(../images/Group1224.png) center no-repeat #4caf50;}
.shuff .prbox.inventory .icon{background:url(../images/Group1225.png) center no-repeat #673ab7;}
.shuff .prbox.qa .icon{background:url(../images/Group1226.png) center no-repeat #2196f3;}


.shuff .prbox.nationwide-sourcing:hover{background: linear-gradient(to right, #ff8c07 , #ffbc07);}
.shuff .prbox.pom:hover{background: linear-gradient(to right, #ff4987 , #da45e7);}
.shuff .prbox.logistics:hover{background: linear-gradient(to right, #37930a , #68cc6c);}
.shuff .prbox.inventory:hover{background: linear-gradient(to right, #2c20a2 , #8e64d9);}
.shuff .prbox.qa:hover{background: linear-gradient(to right, #0068bb , #71a0ff);}

.shuff .prbox:hover{color: #fff;}
.shuff .prbox:hover li{color: #fff;}
.shuff .prbox:hover li:before{background: #fff; }
.shuff .prbox:hover .learnmore a{color: #fff;background: url(../images/Grou12878.png) center right no-repeat;}
.shuff .prbox:hover .c1{top:30px;left:80px;
  -webkit-transition: top 2s, left 2s;
  transition: top 2s, left 2s;}
.shuff .prbox:hover .c2{right: -30px;bottom:-40px;
  -webkit-transition: right 2s, bottom 2s;
  transition: right 2s, bottom 2s;}
.shuff .prbox .title{font-size: 24px; font-weight: 500; margin-bottom: 10px;}
.shuff .prbox li{color: #757575; padding:5px 0; list-style: none; padding-left: 25px; position: relative;}
.shuff .prbox li:before{width: 8px; height: 8px; border-radius: 50%; background: #2196f3; content: ""; position: absolute; left: 0; top:13px;}
.shuff .prbox .learnmore{padding-top: 30px;}
.shuff .prbox .learnmore a{color: #2196f3; display: inline-block; line-height: 40px; background: url(../images/Grou1287.png) center right no-repeat; padding-right: 30px;}



.sproduct{background: #f3f9ff; position: relative; overflow: hidden;}
.sproduct:before{width: 50%; height: 100%; position: absolute; top: 0; right: 0; content: "";background: url(../images/OI8AC901.png) no-repeat; background-size: cover;}
.sproduct .datacol{width: 50%; padding:120px 142px 120px;}
.sproduct .cos{font-size: 56px; margin-bottom: 80px;}
.sproduct .heading{font-size: 60px; line-height: 80px; margin-bottom: 60px;}
.sproduct .heading span{color: #2196f3;font-weight:500;}
.sproduct .findmore{padding-top: 30px;}
.sproduct .findmore a{color: #2196f3; display: inline-block; line-height: 40px; background: url(../images/Grou1287.png) center right no-repeat; padding-right: 30px;}
.sproduct .image{ width: 50%; line-height: 0; position: relative;padding:150px 130px}

.sproduct .image li img{width: 100%; height: auto;position: absolute; top: 0; left: 0; display: none;}
.sproduct .image li{line-height: 60px; position: static; list-style-type: none; cursor: pointer;
  -webkit-transition: padding-left 0.5s;
  transition: padding-left 0.5s;}
.sproduct .image li span{position: relative; z-index: 1; font-size: 30px; color: #fff; font-weight: 500;}
.sproduct .image li:hover img{display: block;}
.sproduct .image li:hover{padding-left: 35px; }
.sproduct .image li:hover span:before{width: 14px; height: 14px; border-radius: 50%; background: #2196f3; content: ""; position: absolute; left:-30px; top:15px}



.contactpart{padding: 80px 0;}
.contactpart .shadowbox{ -webkit-box-shadow: 0 0 20px #dedede;
  box-shadow: 0 0 20px #dedede; padding:70px 60px;}
.contactpart .field{margin-bottom: 30px;}
.contactpart .formhead{font-size: 36px; font-weight: 600; margin-bottom: 20px;}
.contactpart .data{margin-bottom: 30px;}
.contactpart .ds-group{padding:60px 40px;}
.contactpart .ds-head{font-size: 36px; font-weight: 500; margin-bottom: 30px;}
.contactpart .ds-ring{font-size: 36px; font-weight: 600; color: #2196f3; margin-bottom: 30px;}



footer{background: #f3f9ff; padding:100px 140px 100px}
footer .data{padding-right: 50px;}
footer .data p{line-height: 26px;}
footer .col-25{width: 25%;}
footer .head{font-size: 24px; font-weight: 500; margin-bottom: 15px;}
footer li{list-style: none;}
footer li a{color: #757575; font-size: 15px; line-height: 38px;}
footer a{color: #757575;}
footer .socialicons{position: relative; left: -10px;}
footer .blockcon span{ font-weight: 600; display: block;}
footer .blockcon {color: #757575; font-size: 15px; line-height: 28px; margin-bottom: 40px;}

.subfooter{background: #f3f9ff; border-top:1px solid #e8e8e8; color: #757575; font-size: 15px; line-height: 38px; padding:20px 140px;}





.ibanner{min-height: 640px;  color: #fff; padding:200px 140px 0; position: relative;}
.ibanner .pagetitle{font-size: 72px; font-weight:500; margin-bottom: 20px;}
.ibanner .pagecontent{max-width: 790px; }
.ibanner .pagecontent p{font-size: 18px; line-height: 34px; font-weight: 500}
.ibanner .image{width: 750px; line-height: 0; position: absolute; right: 140px; top: 240px;}
.ibanner .image img{width: 100%; height: auto; position: relative; z-index: 1;}
.ibanner .imin{position: relative;}
.ibanner .image:before{
  width: 0;
  height: 0;
  border-bottom: 120px solid transparent;
  border-left:120px solid #f8cd5a;
  content: "";
  position: absolute;
  top: -15px; left:-15px;

}
.ibanner .imin:before{
  width: 0;
  height: 0;
  border-top: 120px solid transparent;
  border-right:120px solid #f8cd5a;
  content: "";
  position: absolute;
  bottom: -15px; right:-15px;
}





.ibanner.center{text-align: center}
.ibanner.center .pagecontent{max-width:1054px; margin: auto;}
.ibanner.pink{ background: url(../images/pinkbanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.pink:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
  background: url(../images/pinkbanner/MaskGroup37.png) no-repeat; background-size: cover; }


.ibanner.bluegreen{ background: url(../images/bluegreenbanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.bluegreen:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
background: url(../images/bluegreenbanner/MaskGroup37.png) no-repeat; background-size: cover; }



.ibanner.green{ background: url(../images/greenbanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.green:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
background: url(../images/greenbanner/MaskGroup37.png) no-repeat; background-size: cover; }

.ibanner.orange{ background: url(../images/orangebanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.orange:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
background: url(../images/orangebanner/MaskGroup37.png) no-repeat; background-size: cover; }



.ibanner.skyblue{ background: url(../images/skybluebanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.skyblue:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
background: url(../images/skybluebanner/MaskGroup37.png) no-repeat; background-size: cover; }



.ibanner.darkblue{ background: url(../images/darkbluebanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.darkblue:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
background: url(../images/darkbluebanner/MaskGroup37.png) no-repeat; background-size: cover; }



.ibanner.greenclient{ background: url(../images/greenclientbanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.greenclient:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
background: url(../images/greenclientbanner/MaskGroup37.png) no-repeat; background-size: cover; }



.ibanner.violate{ background: url(../images/violatebanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.violate:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
background: url(../images/violatebanner/MaskGroup37.png) no-repeat; background-size: cover; }


.ibanner.darkpink{ background: url(../images/darkpinkbanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.darkpink:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
background: url(../images/darkpinkbanner/MaskGroup37.png) no-repeat; background-size: cover; }



.ibanner.violetblue{ background: url(../images/violetbluebanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.violetblue:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
background: url(../images/violetbluebanner/MaskGroup37.png) no-repeat; background-size: cover; }


.ibanner.violetpink{ background: url(../images/violetpinkbanner/Path560.png) no-repeat; background-size: cover; position: relative;}
.ibanner.violetpink:before{width: 100%; height: 100%; content: ""; position: absolute; top: 0; left: 0;
background: url(../images/violetpinkbanner/MaskGroup37.png) no-repeat; background-size: cover; }



.contentbase{padding:80px 140px;}
.contentbase .colcontent{max-width: 50%;}
.contentbase .colcontent{font-size: 60px; line-height: 80px; margin-bottom: 60px;}
.contentbase .colcontent span{color: #2196f3; display: block; font-weight: 500;}
.contentbase .data.half{width: 50%;}
.contentbase .data p{margin-bottom: 30px;}



.talk{text-align: center; background: url(../images/Group836.png) no-repeat; background-size: cover; font-size: 36px; padding:80px 0; font-weight: 600; color: #fff;}
.talk span{display: block; padding-top: 30px;}
.talk a{font-size: 16px; color: #002c5f; line-height: 64px; padding:0 86px; background: #fff; display: inline-block; border-radius: 32px;}



.heritagedata{padding:80px 140px;}
.heritagedata .dataleft{width: 50%; padding-right: 20px;}

.heritagedata .dataright{width: 50%; padding-left: 20px;}
.heritagedata hr{width: 100%; height: 0; border-top:1px solid #e8e8e8; margin:30px 0}
.heritagedata .title{color: #2196f3; font-size: 22px; font-weight: 600;}
.heritagedata .blackdata{font-weight: 600; padding-top: 30px;}



.whatwedo{padding:80px 0;}
.whatwedo .cots{padding:35px; background: url(../images/dotsbg.png) no-repeat; background-size: auto 100%; margin-bottom: 30px;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;}
.whatwedo .cots .icon{width: 130px; height: 130px; background: #000; border-radius: 20px;}
.whatwedo .cots .text{font-size: 30px; color: #757575; padding-top: 15px; padding-left: 55px;}
.whatwedo .cots:hover{
  -webkit-box-shadow: 0 0 20px #dedede;
        box-shadow: 0 0 20px #dedede;
}
.whatwedo .cots.right{text-align: right;background: url(../images/dotsbg2.png) right no-repeat;  background-size: auto 100%;}
.whatwedo .cots.right .text{padding-left: 0; padding-right: 55px;}

.whatwedo .cots .icon.co{background:url(../images/whatwedo/corporate_office_icon.png) center no-repeat #ffc107;}
.whatwedo .cots .icon.clients{background:url(../images/whatwedo/Group1198.png) center no-repeat #673ab7;}
.whatwedo .cots .icon.inhouse{background:url(../images/whatwedo/Group1189.png) center no-repeat #f44336;}
.whatwedo .cots .icon.strategic{background:url(../images/whatwedo/Group1201.png) center no-repeat #4caf50;}
.whatwedo .cots .icon.loadinglocation{background:url(../images/whatwedo/Path617.png) center no-repeat #2196f3;}
.whatwedo .cots .icon.crores{background:url(../images/whatwedo/Path651.png) center no-repeat #e91e63;}
.whatwedo .cots .icon.states{background:url(../images/whatwedo/Group1205.png) center no-repeat #ab47bc;}
.whatwedo .cots .icon.union{background:url(../images/whatwedo/Group1207.png) center no-repeat #00bcd4;}
.whatwedo .cots .icon.sup{background:url(../images/whatwedo/Group1196.png) center no-repeat #8bc34a;}
.whatwedo .cots .icon.ind{background:url(../images/whatwedo/noun_Time_24401.png) center no-repeat #ff5722;}
.whatwedo .cots .icon.sea{background:url(../images/whatwedo/Group1167.png) center no-repeat #3f51b5;}



.clienteledata{padding:80px 0; background: #f9fcff;}
.clienteledata .left{width: 50%; padding-left: 140px;font-size: 60px; line-height: 80px; padding-top: 150px;}
.clienteledata .left span{color: #2196f3; display: block;font-weight: 500;}
.clienteledata .right{width:44%;}
.clienteledata .right img{margin: 10px 0}
.clienteledata .marquee{width: 33.3%; height:700px; overflow: hidden;}
.clienteledata .marquee2{width: 33.3%; height:700px; overflow: hidden;}


.projects-pres{padding: 80px 0;}
.projects-pres .heading{font-size: 60px; text-align: center;}
.projects-pres .heading span{display: block; color: #2196f3;font-weight: 500;}
.projects-pres .projectsblocks{padding:50px 120px 0;}
.projects-pres .projectsblocks .block{padding: 20px; width: 33.3%;}
.projects-pres .projectsblocks .block img{width: 100%; height: auto;}
.projects-pres .projectsblocks .block .title{font-size: 24px; font-weight: 600; padding-top: 20px;}
.projects-pres .projectsblocks .block .title span{display: block; font-size: 18px; font-weight: 400;}





.our-products{padding: 80px 0;}
.our-products .heading{font-size: 60px; text-align: center;}
.our-products .heading span{display: block; color: #2196f3;font-weight: 500;}
.our-products .productsblocks{padding:50px 120px 0;}
.our-products .productsblocks .block{padding: 20px; width: 33.3%; line-height: 0}
.our-products .productsblocks .block img{width: 100%; height: auto;}
.our-products .productsblocks .block .title{font-size: 24px; text-align: center; font-weight: 600; line-height: normal; padding: 20px 0;
  -webkit-box-shadow: 0 0 10px #dedede;
  box-shadow: 0 0 10px #dedede;}

.our-products .productsblocks .block:hover .title{
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

  .opartners{padding: 80px 140px;}
  .opartners .block{text-align: center; padding:15px 0; width: 25%;}
.opartners .block:hover{-webkit-box-shadow: 0 0 10px #dedede;
        box-shadow: 0 0 10px #dedede;}




  .sectordata{ position: relative; background: #f9fcff;}
  .sectordata:before{width: 50%; height: 100%; position: absolute; top: 0; right: 0; content: "";background: url(../images/OI8AC901.png) no-repeat; background-size: cover;}
  .sectordata .left{width: 50%; padding-left: 140px;font-size: 60px; line-height: 80px; padding-top: 200px;}
  .sectordata .left span{color: #2196f3; display: block;font-weight: 500;}
  .sectordata .image{ width: 50%; line-height: 0; position: relative;padding:100px 130px}

  .sectordata .image li img{width: 100%; height: auto;position: absolute; top: 0; left: 0; display: none;}
  .sectordata .image li{line-height:30px; position: static; list-style-type: none; cursor: pointer; width: 320px; margin-bottom: 50px; float: left; padding-left: 85px;
    -webkit-transition: padding-left 0.5s;
    transition: padding-left 0.5s;}
  .sectordata .image li span{position: relative; z-index: 1; font-size: 20px; color: #fff; font-weight: 500;}
  .sectordata .image li span.single{padding-top: 10px;}
  .sectordata .image li:hover img{display: block;}
  .sectordata .image li span:before{width: 64px; height:64px; content: ""; position: absolute; left: -90px; top: 0;}

  .sectordata .image li span.highway:before{background: url(../images/sector-we-serve/Group387.png) no-repeat;}
  .sectordata .image li span.hydro:before{background: url(../images/sector-we-serve/Group388.png) no-repeat;}
  .sectordata .image li span.malls:before{background: url(../images/sector-we-serve/Group393.png) no-repeat;}
  .sectordata .image li span.Stadium:before{background: url(../images/sector-we-serve/Group394.png) no-repeat;}
  .sectordata .image li span.Railways:before{background: url(../images/sector-we-serve/Group395.png) no-repeat;}
  .sectordata .image li span.Thermal:before{background: url(../images/sector-we-serve/Group397.png) no-repeat;}
  .sectordata .image li span.Warehouse:before{background: url(../images/sector-we-serve/Group398.png) no-repeat;}
  .sectordata .image li span.Metro:before{background: url(../images/sector-we-serve/Group400.png) no-repeat;}
  .sectordata .image li span.Airports:before{background: url(../images/sector-we-serve/Group402.png) no-repeat;}
  .sectordata .image li span.Bridges:before{background: url(../images/sector-we-serve/Group404.png) no-repeat;}
  .sectordata .image li span.Commercial:before{background: url(../images/sector-we-serve/Group405.png) no-repeat;}
  .sectordata .image li span.Hospitals:before{background: url(../images/sector-we-serve/Group407.png) no-repeat;}
  .sectordata .image li span.Power:before{background: url(../images/sector-we-serve/Group410.png) no-repeat;}
  .sectordata .image li span.Industrial:before{background: url(../images/sector-we-serve/Group409.png) no-repeat;}
  .sectordata .image li span.Defence:before{background: url(../images/sector-we-serve/Group413.png) no-repeat;}
  .sectordata .image li span.Education:before{background: url(../images/sector-we-serve/Group412.png) no-repeat;}




  .mapdc{padding: 80px 0;}
  .mapdc .heading{font-size: 60px; text-align: center; margin-bottom: 50px;}
  .mapdc .redhead{font-size: 36px; text-align: center; font-weight: 500; color:#f44336;}
.mapdc .heading span{display: block; color: #2196f3; font-weight: 500;}
  .mapdc .maprc{width: 960px; height: 1156px; background: url(../images/mapbg.png) no-repeat; margin: auto; position: relative;}
  .mapdc .maprc .pointer{width: 20px; height:20px;position: absolute; left: 0; top: 0; background: url(../images/mappointer.png) no-repeat; }
  .mapdc .maprc .pointer .lay{position: relative; width: 20px; height: 20px;}
  .mapdc .maprc .pointer ul{ display: none; background: #fff; width: 150px; z-index: 1; position: absolute; bottom:10px; left:10px;
    -webkit-box-shadow: 0 0 10px #dedede;
    font-size: 15px; font-weight: 600;
    line-height: 30px; list-style-type: none;
    box-shadow: 0 0 10px #dedede; padding:15px;}
    .mapdc .maprc .pointer ul.big{width: 200px;}
    .mapdc .maprc .pointer ul li{padding-left:20px; background: url(../images/reddot.png) center left no-repeat;}
  .mapdc .maprc .pointer div{font-weight: 600; font-size: 17px; width: 200px; position: absolute; left: 0; top: 0; cursor: pointer;}

  .mapdc .maprc .pointer div.topleft{text-align: right; top: -16px; left: auto; right: 26px;}
  .mapdc .maprc .pointer div.bottomleft{text-align: right; top: auto; bottom: -16px; left: auto; right: 26px;}
  .mapdc .maprc .pointer div.topright{top: -16px; left: 31px; }
  .mapdc .maprc .pointer div.bottomright{top: auto; left: 31px; bottom: -16px; }
  .mapdc .maprc .pointer div:hover{color: #f44336;}
  .mapdc .maprc .pointer .lay:hover ul{display: block;}
  .mapdc .maprc .pointer .lay:hover ul li{color: #1A1A1A;}
  .mapdc .maprc .pointer:hover div{color: #f44336;}

  .mapdc .maprc .pointer div:hover{color: #1A1A1A;}
  .mapdc .maprc .pointer.jk{left: 304px; top: 203px;}
  .mapdc .maprc .pointer.hp{left: 321px; top: 284px;}
  .mapdc .maprc .pointer.pb{left: 274px; top: 321px;}
  .mapdc .maprc .pointer.uk{left: 376px; top: 343px;}
  .mapdc .maprc .pointer.hr{left: 298px; top: 372px;}
  .mapdc .maprc .pointer.dl{left: 322px; top: 396px;}
  .mapdc .maprc .pointer.rj{left: 217px; top: 449px;}
  .mapdc .maprc .pointer.up{left: 450px; top: 464px;}
  .mapdc .maprc .pointer.as{left: 778px; top: 452px;}
  .mapdc .maprc .pointer.bh{left: 583px; top: 500px;}
  .mapdc .maprc .pointer.gj{left: 150px; top: 583px;}
  .mapdc .maprc .pointer.mp{left: 362px; top: 586px;}
  .mapdc .maprc .pointer.jh{left: 562px; top: 573px;}
  .mapdc .maprc .pointer.wb{left: 641px; top: 578px;}
  .mapdc .maprc .pointer.mh{left: 258px; top: 716px;}
  .mapdc .maprc .pointer.chs{left: 453px; top: 634px;}
  .mapdc .maprc .pointer.od{left: 549px; top: 668px;}
  .mapdc .maprc .pointer.ap{left: 371px; top: 865px;}
  .mapdc .maprc .pointer.tn{left: 352px; top: 997px;}



  @media only screen and (max-width: 1919px) {
  .container{width:1200px}
  body{font-size: 16px; }
  header{padding: 0 110px;}
  header .in-header:before{border-top: 70px solid transparent;border-right: 35px solid #1a1a1a;left: -35px;}
  header .in-header:after{border-bottom: 70px solid transparent;
    border-left: 35px solid #1a1a1a;right: -35px;}
  header .in-header{height: 70px;}
  header .logo{padding: 16px 0 0 0;}
  header .logo img{width: 150px; height: auto;}
  nav{padding-top: 13px;}
  nav li{margin-right: 35px;}
  nav li a{font-size: 14px;}
  nav li.haschild ul li a{line-height: 40px;}
  nav li.haschild ul{    width: 280px;}
  .homebanner .outerblock{    width: 760px;}
  .homebanner .block{padding: 50px 54px;}
  .homebanner .heading{    font-size: 50px; line-height: 68px;margin-bottom: 20px;}
  .homebanner .outerblock:before{
    border-bottom: 260px solid transparent;
    border-right: 260px solid #2196f3;
  }
  .homebanner .outerblock2:before{
    border-top: 260px solid transparent;
      border-left: 260px solid #2196f3;
  }
  .homebanner{padding: 128px 60px 72px;}
  .homebanner .findmore a{font-size: 18px;}
  .homebanner .findmore{padding-top: 20px;}
  .slide-trusted-by-section .slick-arrow{width: 40px; height:40px;background-size: 80px;     background-position: 0 -40px;}
  .slide-trusted-by-section .slick-arrow.slick-next{ background-position: -40px 0;}
  .slide-trusted-by-section .slick-track{padding:10px; }
  .slide-trusted-by-section .slick-slide:hover{
    -webkit-box-shadow: 0 0 10px #dedede;
          box-shadow: 0 0 10px #dedede;
  }
  .slick-arrow.slick-next.slick-disabled{background-position: -40px -40px;}
  .strength .heading{margin-bottom: 10px;font-size: 46px;font-weight: 600;}
  .strength .shadow-verlay div{font-size: 20px;}
  .strength .viewall a{font-size: 18px;padding-right: 25px;}
  .pcsection .heading{font-size: 45px;}
  .shuff .heading{font-size: 38px;}
  .shuff .prbox .hidden{padding: 30px 100px 30px 100px;}
  .shuff .prbox .learnmore{padding-top: 10px;}
  .shuff{padding:70px 0 0 0;}
  .sproduct .datacol{padding: 70px 102px 70px;}
  .sproduct .cos{font-size: 46px; margin-bottom: 50px;font-weight:600;}
  .sproduct .heading{font-size: 45px; line-height: normal; margin-bottom: 40px;}
  .sproduct .image{padding:80px}
  .sproduct .image li{line-height: 50px;}
  .sproduct .image li span{font-size: 20px;}
  .sproduct .image li:hover span:before{width: 10px; height: 10px; top: 10px;}
  .contactpart .formhead{font-size: 26px;margin-bottom: 10px;}
  footer{padding: 50px 110px 50px;}
  footer li a{line-height: 30px;}
  .subfooter{padding: 15px 110px;}
  .ibanner{padding: 130px 110px 0; min-height: 440px;}
  .ibanner .pagetitle{font-size: 52px;margin-bottom: 10px;}
  .ibanner .pagecontent p {
    font-size: 16px;
    line-height: 30px;}
  .ibanner .pagecontent{max-width: 630px;}
  .ibanner .image{width: 450px; top: 160px; right: 110px;}
  .contentbase{padding: 60px 110px;}
  .contentbase .colcontent{font-size: 45px;
    line-height: 65px;}
  .talk{padding: 50px 0; font-size: 30px;}
  .talk a{line-height: 54px;padding: 0 56px;}
  .heritagedata{padding: 30px 110px 80px;}
  .whatwedo .cots{padding: 15px;}
  .whatwedo .cots .text{font-size: 26px;}
  .sectordata .left{padding-left: 110px; font-size: 45px; line-height: 75px;}
  .sectordata .image li{width: 300px;}
  .sectordata .image{padding: 100px 0 0 80px;}
  .mapdc .heading{font-size: 45px;}
  .mapdc .redhead{font-size: 26px;}
  .our-products .heading{font-size: 45px;}
  .our-products .productsblocks .block .title{font-size: 20px; padding: 15px 0;}
  .opartners{padding:50px 110px}
  .projects-pres .heading{font-size: 45px;}
  .projects-pres .projectsblocks {
    padding: 50px 100px 0;
  }
  .projects-pres .projectsblocks .block .title{font-size: 16px; padding-top: 10px;}
  .clienteledata .left{font-size: 45px; line-height: 75px; padding-left: 110px;}
  .clienteledata .right .js-marquee div{padding: 0 10px;}
  .clienteledata .right img{width: 100%; height: auto; margin:5px 0;}

  }
  @media only screen and (max-width: 1365px) {
  .navicon{display: block; width: 45px; height:31px; background: url(../images/Menu_icon_icon-icons.com_71858.png) no-repeat; cursor: pointer;margin-top: 18px;}
  .navicon.navicontoggle{width: 35px; height: 36px;background: url(../images/menu-close.png) no-repeat;}
  header .in-header:before{display: none;}
  header .in-header:after{display: none;}
  header{padding: 0;}
  nav{position: fixed; width: 280px; height: 100%;
    padding:30px 30px; top:0; right:-280px; background: #1a1a1a;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;}
  nav.opnnav{right: 0;}
  nav li{float: none; margin-right: 0;}
  nav li.haschild a{padding-left: 0; background: none;}
  nav li.haschild span{display: inline-block; width: 24px; height: 24px; background: url(../images/Group1285.png) no-repeat; position: absolute; top: 8px; cursor: pointer; right: -10px;}
  nav li.haschild ul{visibility: visible; opacity: 1; position: relative;}
  nav li.haschild ul{top: 0;padding: 0 0 20px 20px; display: none;}
  nav li.haschild ul li a{padding-left: 15px; background: url(../images/Group1287.png) center left -11px no-repeat;}
  body {
    font-size: 15px;
  }


  .homebanner .outerblock:before {
    top: -10px; right: -10px;
    border-bottom: 160px solid transparent;
    border-right: 160px solid #2196f3;
  }
  .homebanner .outerblock2:before {
    bottom: -10px; left: -10px;
    border-top: 160px solid transparent;
    border-left: 160px solid #2196f3;
  }
  .homebanner .heading{font-size: 32px; line-height: 45px; padding-top: 20px; margin-bottom: 20px;}
  .homebanner .block {
    padding: 50px 40px 30px;
  }
  .homebanner .findmore a {
    background-size: 4%; padding-right: 20px;
    font-size: 16px;
  }
  .slide-trusted-by-section .heading{text-align: center}
  .container{width: 90%;}
  .strength{padding-top: 0;}
  .strength .data p br{display: none;}
  .strength .viewall {
    padding-top: 30px;
  }
  .pcsection .outerimage:before{
    top: -10px; left: -10px;
    border-bottom: 160px solid transparent;
      border-left: 160px solid #f8cd5a;
  }
  .pcsection .outerimage2:before{
    border-top: 160px solid transparent;
      border-right: 160px solid #f8cd5a;
      bottom: -10px; right: -10px;
  }
  .pcsection .heading {
    font-size: 35px;
    padding:90px 0 0 30px;
  }
  .shuff{padding: 0;}
  .shuff .heading{font-size: 28px;}
  .shuff .prbox .icon{width: 80px; height: 80px; border-radius:10px; background-size: 60% !important; left:-40px;}
  .shuff .prbox .icon.right{right: -40px;}
  .shuff .row .col-48{width: 50%;}
  .shuff .prbox .hidden {
    padding: 20px 60px 20px 70px;
  }
  .shuff .prbox .number{width: 50px; height: 50px; font-size: 20px; line-height: 50px; top: -25px;}
  .shuff .prbox .title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .sproduct .image li span {
    font-size: 18px;
  }
  .sproduct .image li:hover span:before{top: 8px;}
  .sproduct .image li {
    line-height: 40px;
  }
  .sproduct .datacol {
    padding: 30px 50px 30px;;
  }
  .sproduct .heading{font-size: 35px; margin-bottom: 30px;}
  .sproduct .cos {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .sproduct .findmore {
    padding-top: 10px;
  }
  .contactpart {
    padding: 40px 0;
  }
  .contactpart .shadowbox {
    padding: 40px 30px;
  }
  input{height:46px; font-size: 14px;}
  textarea{height: 100px; font-size: 14px;}
  button{height:46px; font-size: 14px;}
  .contactpart .field {
    margin-bottom: 20px;
  }
  .contactpart .ds-head{font-size: 26px;margin-bottom: 10px;}
  .contactpart .ds-group {
    padding: 30px 20px;
  }
  .contactpart .ds-ring {
    font-size: 26px;
    margin-bottom: 10px;
  }
  footer {
    padding: 40px 40px 30px;
  }
  .subfooter {
    padding: 10px 40px;
  }
  .ibanner{padding: 100px 40px 50px; min-height: auto;}
  .ibanner .pagetitle {
    font-size: 30px;
  }
  .ibanner .pagecontent {
    max-width: 50%;
  }
  .ibanner .image{right:40px;width: 40%;}
  .ibanner .image:before{
    border-bottom: 160px solid transparent;
    border-left: 160px solid #f8cd5a;
    top: -10px;
    left: -10px;}
    .ibanner .imin:before{
      bottom: -10px;
      right: -10px;
      border-top: 160px solid transparent;
      border-right: 160px solid #f8cd5a;
    }
    .contentbase {
      padding: 60px 40px;
  }
  .contentbase .colcontent {
    font-size: 35px;
    line-height: normal;
  }
  .heritagedata {
    padding: 0 40px 40px;
  }
  .ibanner.center{min-height: auto; padding:120px 40px 100px;}
  .whatwedo {
    padding: 40px 0;
  }
  .whatwedo .cots .icon {
    width: 80px;
    height: 80px; border-radius:10px; background-size: 60% !important;}
    .whatwedo .cots .text {
      padding-left: 35px;
      font-size: 20px;
      padding-top: 10px;
  }
  .whatwedo .cots.right .text {
    padding-right: 35px;
  }
  .shuff.onpage{padding-top: 40px;}
  .sectordata .left{font-size: 35px; line-height: normal; width: 100%;padding-top:50px; padding-bottom: 50px;}
  .sectordata .left{padding-left: 0; text-align: center;}
  .sectordata .left br{display: none;}
  .sectordata:before{display: none;}
  .sectordata .image{background: url(../images/OI8AC901.png) no-repeat; width: 100%; background-size: cover;}
  .mapdc .heading{font-size: 35px; margin-bottom: 30px;}
  .our-products .heading{font-size: 35px; margin-bottom: 30px; margin-bottom: 0}
  .our-products .productsblocks {
    padding: 50px 30px 0;
  }
  .opartners{padding: 0 20px 40px;}
  .projects-pres .heading{font-size: 35px;}
  .projects-pres .projectsblocks{padding:20px 20px 40px;}
  .projects-pres .projectsblocks .block{width: 50%;}
  .clienteledata {
    padding: 40px 0;
  }
  .clienteledata .left{padding-left: 40px; font-size: 35px; line-height: normal}
  }

  @media only screen and (max-width: 1023px) {
  .strength .row .col-33{width: 50%;}
  .pcsection .heading{font-size: 28px;padding: 50px 0 0 30px;margin-bottom: 50px;}
  .shuff .row .col-48{width: 100%;}
  .shuff .prbox{min-height: auto; margin-bottom: 65px;}
  .shuff .prbox.posright{top: 0}
  .sproduct .datacol{width: 100%; text-align: center}
  .sproduct .heading{font-size: 28px;}
  .sproduct .heading br{display: none;}
  .sproduct .heading span{display: block;}
  .sproduct:before{display: none;}
  .sproduct .image{width: 100%; background: url(../images/OI8AC901.png) no-repeat; width: 100%; background-size: cover;}

  .contactpart .row .col-50{width: 100%;}
  .contactpart .ds-group{padding:30px 0;}
  footer .col-25{width: 100%; margin-bottom: 30px;}
  .subfooter .fl{width: 100%; text-align: center}
  .subfooter .fr{width: 100%; text-align: center}
  .contentbase .colcontent{font-size: 28px; margin-bottom: 20px;}
  .contentbase {
    padding: 30px 40px;
  }
  .contentbase .data.half{width: 100%; padding-top: 30px;}
  .heritagedata .dataleft{width: 100%; padding-right: 0;margin-bottom: 40px;}
  .heritagedata .dataright{width: 100%; padding-left: 0;}
  .whatwedo .row .col-48{width: 100%;}
  .whatwedo .cots .text{width: 100%;  padding-left: 55px;}
  .whatwedo .cots .text br{display: none;}
  .whatwedo .cots{position: relative; padding-left: 70px;}
  .whatwedo .cots .icon{position: absolute; left:30px; bottom:10px;}
  .whatwedo .cots.right .text{padding-left: 55px; padding-right: 0; text-align: left}
  .whatwedo .cots.right{background: url(../images/dotsbg.png) no-repeat;background-size: auto 100%;}
  .sectordata .left{font-size: 28px;}
  .mapdc .maprc{width: 90%; height: auto; margin:50px  auto 0; background: none;}
  .mapdc .maprc .pointer{position: relative; top: 0 !important; width: 100%; left: 0 !important;  margin-bottom:15px; height: auto;}
  .mapdc .maprc .pointer div{position: static; padding-left: 30px;}
  .mapdc .maprc .pointer div.topleft{text-align: left;}
  .mapdc .maprc .pointer div.bottomleft{text-align: left;}
  .mapdc .maprc .pointer ul{display: block; width: 100%; position: static; margin-top: 10px;}
  .our-products .heading{font-size: 28px;}
  .our-products {
    padding: 40px 0;
  }
  .our-products .productsblocks .block{width: 50%;}
  .opartners .block{width: 33.3%;}
  .projects-pres .heading{font-size: 28px;}
  .projects-pres {padding: 40px 0;}
  .clienteledata .left{font-size: 28px; padding:0; width: 100%; text-align: center; margin-bottom: 30px;}
  .clienteledata .left br{display: none;}
  .clienteledata .right{width: 100%;}
  .mapdc .heading{font-size: 28px;}
  .mapdc{padding: 40px 0;}
  }
  @media only screen and (max-width: 767px) {
    .homebanner .outerblock{width: 100%;}
    .pcsection .row .col-45{ width: 100%;}
    .pcsection .row .col-55{ width: 100%; text-align: center}
    .pcsection .heading{padding-left: 0; margin-bottom: 0;}
    .pcsection .heading br{display: none;}
    .shuff .heading {padding: 0 60px; margin-bottom: 40px;}
    .ibanner .pagecontent{max-width: 100%; text-align: center}
    .ibanner .pagetitle{text-align: center}
    .ibanner .image{display: none;}
    .contentbase .colcontent{max-width: 100%; text-align: center}
    .contentbase .colcontent br{display: none;}
    .ibanner.center{padding: 90px 40px 40px;}
    .sectordata .image {
        padding: 50px 0 0 40px;
    }
    .mapdc .heading br{display: none;}
    .mapdc .redhead {
          font-size: 16px;
      }
      .contentbase .colcontent {
          margin-bottom: 0;
      }
      .opartners .block{width: 50%; padding: 10px 0;}
      .projects-pres .projectsblocks .block{width: 100%;}
  }
  @media only screen and (max-width: 639px) {
  header .in-header{padding: 0 20px;}
  .homebanner{padding:80px 0 0 0;}
  .strength .heading{font-size: 26px;}
  .strength .row .col-33{width: 100%;}
  .strength .data {
    margin-bottom: 30px;
  }
  .pcsection .heading{font-size: 25px;}
  .shuff .heading {
    font-size: 25px;
    padding: 0;margin-bottom: 70px;
  }
  .shuff .prbox .icon{left: -20px;top: -47px;}
  .shuff .prbox .icon.right{right: -20px;top: -47px;}
  .shuff .prbox .hidden {
    padding: 50px 20px 20px 20px;
  }
  .sproduct .heading {
    font-size: 25px;
  }
  .sproduct .image {
    padding: 40px;
  }
  .subfooter .fl{line-height: 26px;}
  .contentbase .colcontent{font-size: 25px; margin-bottom: 20px;}
  .talk {
    font-size: 20px; padding: 30px 0;
  }
  .ibanner{padding: 100px 20px 50px;}
  .heritagedata .title{    font-size: 18px;}
  .ibanner.center {
    padding: 90px 20px 40px;
  }
  .sectordata .left{    font-size: 25px;}
  .mapdc .heading{    font-size: 25px;padding: 0 20px;}
  .our-products .heading{font-size: 25px;}
  .our-products .productsblocks .block {
    width: 100%;
    padding:0;
    padding-bottom: 20px;
  }
  .contentbase .colcontent{margin-bottom: 0}
  .opartners .block{width: 100%;}
  .projects-pres .heading{font-size: 25px; padding: 0 20px;}
  .clienteledata .left{font-size: 25px;}
  }
